.mainRegister{
    margin-left:35%;
    margin-right:35%;
    width:30%;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    padding: 10px 10px 10px 10px
}

.label{

}

.label input{
    border-radius: 24px;
    padding: 14px 16px 14px 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.button{
    border-radius: 24px;
    padding: 14px 16px 14px 16px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
